body{
    margin: 0px;
}
.frame{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}
.mobile-menu{
    justify-content: flex-end;
    display: none;
}
.icon{
    vertical-align: top;
}
.left{
    flex: none;
    width: 150px;
    text-align: center;
    font-family: serif;
}
.right{
    display: flex;
    justify-content: flex-end;
    flex: auto;
}
.item{
    flex: none;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    font-family: serif;
}

.headline{
    font-size: 40px;
    font-weight: bold;
    background-color: #a6caeb;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: serif;

}
.content{
   
    width: 1200px;
    margin: 0 auto;
    
    
}
.content_up{
    display: flex;
    width: 100%;

}
.content_left{
    display: flex;
    background-color: #a6caeb;
    margin: 10px; 
    height: 50px;
    width: 50%;
}
.content_right{
    display: flex;
    background-color: #a6caeb;
    margin: 10px; 
    height: 50px;
    width: 50%;
}
.content_down{
    width: 100%;
    display: flex;
}
.content_left2{
    
    display: flex;
    margin: 10px;

}
.photo_down{
    max-width: 100%;
    vertical-align: top
}

.postion{
    background-color: #a6caeb;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-family: serif;

}
.prom{
    font-size: 20px;
    align-self: center;
    padding-left: 10px;
    font-family: serif;
}
@media(max-width:1200px){
    .content{
        width: 90%;
       
    }
    .content_left2{
         width: 45%;
         flex: auto;
    }
    .content_down{
        flex-wrap: wrap;
        
    }
}
@media(max-width:600px){
    .content_left2{
        width: 90%;
        flex: auto;
   }
   .content_up{
        flex-wrap: wrap;
   }
   .content_left{
        width: 100%;

   }
   .content_right{
        width: 100%;

   }
   .item{
        display: none;
   }
   .mobile-menu{
    display: block;

    }
}