.frame{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}
.left{
    flex: none;/* 固定配置*/
    width: 150px;
    text-align: center;
}
.right{
    display: flex;/* 讓下一層次項目水平排列 */
    justify-content: flex-end;
    flex: auto;
}
.item{
    flex: none;
    width: 100px;
    margin-right: 10px;
    text-align: center;
}

.headline{
    font-size: 40px;
    font-weight: bold;
    background-color: #a6caeb;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}
.content{
    background-color: #cccccc;
    width: 1200px;
    margin: 0 auto;
    
    
}
.content_up{
    display: flex;
    width: 100%;

}
.content_left{
    display: flex;
    background-color: #a6caeb;
    margin: 10px; 
    height: 50px;
    width: 50%;
}
.content_right{
    display: flex;
    background-color: #a6caeb;
    margin: 10px; 
    height: 50px;
    width: 50%;
}
.content_down{
    width: 100%;
    display: flex;
}
.content_left2{
    border:1px dashed #a6caeb;
    display: flex;
    margin: 10px;

}
.photo_down{
    max-width: 100%;
    vertical-align: top
}

.postion{
    background-color: #a6caeb;
    font-size: 20px;
    text-align: center;
    padding: 5px;

}
.prom{
    font-size: 20px;
    align-self: center;
    padding-left: 10px;
}
@media(max-width:1200px){
    .content{
        width: 90%;
       
    }
    .content_left2{
         width: 45%;
         flex: auto;
    }
    .content_down{
        flex-wrap: wrap;
        
    }
}
@media(max-width:600px){
    
}